{% extends 'base.html' %}
{% load myTags %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">
                قائمة المستخدمين
            </h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="{% url 'accounts:home' %}">
                            الرئيسية
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        قائمة المستخدمين
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <a class="btn btn-success waves-effect waves-light" href="{% url 'accounts:add_user' %}"
                                type="button">
                                <i class="mdi mdi-plus">
                                </i>
                                إضافة
                            </a>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="form-inline float-md-end mb-3">
                            <form method="GET" novalidate>
                                <div class="search-box ms-2">
                                    <div class="position-relative">
                                        <input class="form-control rounded bg-light border-0" placeholder="بحث..."
                                            type="text" value="{{request.GET.search}}" name="search">
                                        <i class="mdi mdi-magnify search-icon">
                                        </i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-4">
                    <table class="table table-centered table-nowrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col">
                                    الأسم
                                </th>
                                <th scope="col">
                                    اسم المستخدم
                                </th>
                                <th scope="col">
                                    الرقم العسكري
                                </th>
                                <th scope="col">
                                    المستوى الأعلى
                                </th>
                                <th scope="col">
                                    وصف المستخدم
                                </th>
                                <th scope="col">
                                    نشط
                                </th>
                                <th scope="col">
                                    العمليات
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tansif_data_list">
                            {% for user in users %}
                            <tr id="{{user.id}}">
                                <td> {{user.rank}} / {{user.system_user_name}} </td>
                                <td> {{user.user.username}} </td>
                                <td> {{user.mil_num}} </td>
                                <td>{% if user.parent %} {{ user.parent }} {% else %} لا يوجد {% endif %}</td>
                                <td style="white-space: normal !important;word-wrap: break-word !important;"> {{user.description}} </td>
                                <td>
                                    {% if user.user.is_active %}
                                    <i style="color:green;" class="mdi mdi-check-circle search-icon"></i>
                                    {% else %}
                                    <i style="color:red;" class="mdi mdi-close-circle search-icon"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-primary"
                                                href="javascript:edit_tasnif_popup({{user.id}})">
                                                <i class="uil uil-pen font-size-18">
                                                </i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-danger" href="javascript:delete_item({{user.id}})">
                                                <i class="uil uil-trash-alt font-size-18">
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <div class="float-sm-end">
                            <ul class="pagination pagination-rounded justify-content-center mt-4">
                                <li class="page-item {% if current_page|into_int == 1|into_int %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if '?search' in  request.get_full_path%}?search={{request.GET.search}}&page={{current_page|sub:1}}{% else %}?page={{current_page|sub:1}}{% endif %}">
                                        <i class="mdi mdi-chevron-right">
                                        </i>
                                    </a>
                                </li>
                                {% for x in current_page|my_pages:pages %}
                                <li class="page-item {% if  x|into_str == current_page|into_str %}active{% endif %}">
                                    <a class="page-link"
                                        href="{% if '?search' in  request.get_full_path%}?search={{request.GET.search}}&page={{x}}{% else %}?page={{x}}{% endif %}">
                                        {{x}}
                                    </a>
                                </li>
                                {% endfor %}
                                <li class="page-item {% if current_page|add:1 > pages|into_int %}disabled{% endif %}">
                                    <a class="page-link"
                                        href="{% if '?search' in  request.get_full_path%}?search={{request.GET.search}}&page={{current_page|add:1}}{% else %}?page={{current_page|add:1}}{% endif %}">
                                        <i class="mdi mdi-chevron-left">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<! ------------------------- Start Add Modal ----------------------------- ->
<div aria-labelledby="myLargeModalLabel" class="modal fade add_user_modal" style="display: none;"
    aria-hidden="true" id="LargeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">
                    إضافة مستخدم
                </h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="add_user" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="type" value="add" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">
                                    اسم المستخدم
                                </label>
                                <input class="form-control" type="text" required maxlength="30" name="username">
                                <div class="invalid-feedback">
                                    برجاء إدخال قيمة.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">
                                    الرقم العسكري:
                                </label>
                                <input class="form-control" type="number" required max="999999999999999999999999999999" name="username">
                                <div class="invalid-feedback">
                                    برجاء إدخال قيمة.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">
                                    الرقم العسكري:
                                </label>
                                <input class="form-control" type="number" required max="999999999999999999999999999999" name="username">
                                <div class="invalid-feedback">
                                    برجاء إدخال قيمة.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">
                                    الرقم العسكري:
                                </label>
                                <input class="form-control" type="number" required max="999999999999999999999999999999" name="username">
                                <div class="invalid-feedback">
                                    برجاء إدخال قيمة.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">
                                    كلمة المرور:
                                </label>
                                <input class="form-control" type="password" required maxlength="30" name="password" id="password">
                                <div class="invalid-feedback">
                                    برجاء إدخال قيمة.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">
                                    تاكيد كلمة المرور:
                                </label>
                                <input class="form-control" type="password" required name="password2" id="password2">
                                <div class="invalid-feedback">
                                    برجاء إدخال قيمة.
                                </div>
                                <div id="password-error" style="display: none;color: red;">
                                    القيمة غير متشابها
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">
                                    الوحدة:
                                </label>
                                <select class="form-select searchable-combobox-modal" name="def_office" required>
                                    <option value="">
                                        لا يوجد
                                    </option>
                                    {% for def_office in def_offices %}
                                    <option value="{{def_office.def_off_code}}">
                                        {{def_office.def_off_name}}
                                    </option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    برجاء إختيار قيمة.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">
                                    الصلاحيات:
                                </label>
                                <select class="form-select searchable-combobox-modal" name="group" required>
                                    <option value="">
                                        لا يوجد
                                    </option>
                                    {% for group in groups %}
                                    <option value="{{group.id}}">
                                        {{group.name}}
                                    </option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    برجاء إختيار قيمة.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" id="formrow-customCheck" type="checkbox" name="is_active"
                            checked>
                        <label class="form-check-label" for="formrow-customCheck">
                            نشط (مفعل)
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light waves-effect" data-bs-dismiss="modal" type="button">
                    إلغاء
                </button>
                <button class="btn btn-primary waves-effect waves-light" type="submit" form="add_user">
                    حفظ
                </button>
            </div>
        </div>
    </div>
</div>
<! ------------------------- End Add Modal -------------------------------- ->

<! ------------------------- Start Edit Modal ----------------------------- ->
<div aria-labelledby="myLargeModalLabel" class="modal fade edit_tasnif_modal" style="display: none;"
aria-hidden="true" id="EditLargeModal">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myLargeModalLabel">
                تعديل مستخدم
            </h5>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" id="edit_tasnif" class="needs-validation" novalidate>
                {% csrf_token %}
                <input type="hidden" name="type" value="edit" />
                <input type="hidden" name="edit_code" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">
                                الاسم:
                            </label>
                            <input class="form-control" type="text" required maxlength="30" name="edit_name">
                            <div class="invalid-feedback">
                                برجاء إدخال قيمة.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">
                                الرقم العسكري:
                            </label>
                            <input class="form-control" type="number" max="999999999999999999999999999999" name="edit_username" readonly>
                            <div class="invalid-feedback">
                                برجاء إدخال قيمة.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">
                                كلمة المرور:
                            </label>
                            <input class="form-control" type="password" maxlength="30" name="edit_password" id="password3">
                            <div class="invalid-feedback">
                                برجاء إدخال قيمة.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">
                                تاكيد كلمة المرور:
                            </label>
                            <input class="form-control" type="password" name="edit_password2" id="password4">
                            <div class="invalid-feedback">
                                برجاء إدخال قيمة.
                            </div>
                            <div id="password-error2" style="display: none;color: red;">
                                القيمة غير متشابها
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">
                                الوحدة:
                            </label>
                            <select class="form-select searchable-combobox-modal-edit" name="edit_def_office" required>
                                <option value="">
                                    لا يوجد
                                </option>
                                {% for def_office in def_offices %}
                                <option value="{{def_office.def_off_code}}">
                                    {{def_office.def_off_name}}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                برجاء إختيار قيمة.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">
                                الصلاحيات:
                            </label>
                            <select class="form-select searchable-combobox-modal-edit" name="edit_group" required>
                                <option value="">
                                    لا يوجد
                                </option>
                                {% for group in groups %}
                                <option value="{{group.id}}">
                                    {{group.name}}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                برجاء إختيار قيمة.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" id="formrow-customCheck2" type="checkbox" name="edit_is_active"
                        checked>
                    <label class="form-check-label" for="formrow-customCheck2">
                        نشط (مفعل)
                    </label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-light waves-effect" data-bs-dismiss="modal" type="button">
                إلغاء
            </button>
            <button class="btn btn-primary waves-effect waves-light" type="submit" form="edit_tasnif">
                حفظ
            </button>
        </div>
    </div>
</div>
</div>
<! ------------------------- End Edit Modal ------------------------------ ->
{% endblock content %}

{% block javascript %}
<script src="{% static 'myauth/users.js' %}"></script>
{% endblock javascript %}